.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 140px;
  margin-top: -3rem;
}

.testimonial {
  background: #0a0a0a;
  padding: 45px 40px;
  border-radius: 0px 00px 20px 20px;
  border-bottom: 2px solid #0a0a0a;
  position: relative;
  cursor: pointer;
  transition: 1s;
}

.testimonial:hover {
  transform: scale(1.02);
}

.testimonial:first-child::before {
  position: absolute;
  top: -35px;
  left: -15px;
  z-index: -1;
}

.testimonial p {
  margin-bottom: 25px;
  background-color: #0a0a0a;
  color: white;
  font-family: "Kdam Thmor Pro", serif;
}

.profile {
  display: flex;
  background-color: #0a0a0a;
}

.profile img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 5px;
}

.profile-description {
  background-color: #0a0a0a;
}

.profile-description h3 {
  font-size: 12px;
  background-color: #0a0a0a;
  color: white;
  font-family: "Kdam Thmor Pro", serif;
}

.profile-description p {
  font-size: 9px;
  font-family: "Kdam Thmor Pro", serif;
}

@media (max-width: 768px) { 
  .testimonials {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 150px 35px;
  }
  
  .testimonial:first-child::before {
    left: 4px;
  }
}